{% extends 'base.html' %}

{%block conteudo%}
<br><br>
    <div class="corpo">
        <form class="form" action="{% url 'index'%}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <table class="table">
                {{form}}
            </table>
            <div class="button">
                <button type="submit">Enviar</button>
            </div>
            {%if messages%}
            <div class="alert {{messages.tags}}" role="alert">
                {{message}}
            </div>  
            {% endif %}
        </form>
    </div>
{% endblock %}