<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="projeto new/templates/static/style.css" rel="stylesheet">
    
    <title>Projeto Recognization Face</title>
</head>
<body>
    <!--Header-->
    <div class="header">
        <div class = "logo">
            <img class="img" src="/ufms.jpg">
        </div>
        <div class="Read.me">Informações</div>
    </div>
    
    <!--Body-->
    {%block conteudo%} {%endblock%}
    
    <!--Footer-->
    <div>
        <div class="footer">
            <div class = "ufms">Desenvolvido por Thiago Bauce.</div>
        </div>
    </div> 
</body>
</html>